/.vscode/
/vscode_build/
/CMakeSettings.json
/build/
/*.dll
/tags
/assets.pack
/data.pack
/.vs/
/.data.db
/steamworks_c_wrapper/_build
/steamworks_c_wrapper/sdk
*.swp
*~
/steam_appid.txt
/*.so
/breakhack*.run
/compile_commands.json
/.cache
