[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "lib/SDL_image"]
	path = lib/SDL_image
	url = https://github.com/libsdl-org/SDL_image
	branch = SDL2
[submodule "lib/SDL_ttf"]
	path = lib/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
	branch = SDL2
[submodule "lib/SDL_mixer"]
	path = lib/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
	branch = SDL2
