---
BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: ForIndentation
BreakBeforeBraces: Linux
ColumnLimit: 120
PointerAlignment: Right
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: AllDefinitions
SortIncludes: Never
IndentPPDirectives: None
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInContainerLiterals: false
BreakBeforeBinaryOperators: NonAssignment
